.duty-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
}

.action-icon {
  font-size: 18px;
  color: #1677ff;
  cursor: pointer;
}

.action-icon:hover {
  color: #0958d9;
}
